
<input [(ngModel)]="movieTitle"  placeholder="Search for Movie" 
(keyup.enter)="searchMovie(movieTitle)">
<button (click)="searchMovie(movieTitle)">Search for Movie</button>


<div *ngIf="movies">
    
    <!-- If you cannot search for a movie and display results in console do not work on this part-->
    <div *ngFor="let movie of movies | slice:0:9">
         <div>{{ movie.title}} </div>
         <p> {{movie.vote_count}} </p>
         <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}">
         
    </div>
</div>


