
<h1> Netflix-Prototype</h1>

 <div class = container>
<h2>  GEt In !!!</h2>
    <input class="firstName" 
              type="text" 
              placeholder="FirstName"
               name="email"
              [(ngModel)]="user.firstName">


    <input class="lastName" 
              type="text" 
              placeholder="LastName"
               name="email"
              [(ngModel)]="user.lastName">


    <input class="email" 
              type="text" 
              placeholder="Email"
               name="email"
              [(ngModel)]="user.email">
              
    
    <input class="password" 
      type="password" 
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password">
      <button class="btn btn-success" (click)="loginSubmit()">Submit</button>
</div>              

